/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.welcome {
	background-color: #1e2327;
	float: left;
	width: 100%;
	background-image: url('../images/about-me.jpg');
	height: 420px;
	background-position-x: -80px;
	background-repeat: no-repeat;
	color: #ffffff;

	.last-col {
		padding-top: 130px;
		padding-right: 100px !important;
		padding-left: 0px;
	}
}

.greeting {
	font-size: 33px;
}
